body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tarjeta {
  justify-content: center;
  align-content: center;
  border: solid 2px;
  border-color: black;
  margin: 0.5rem;
  background-color: #c2bbbb78;
}

.contenedor-cards{
  display: flex;
  flex-direction: row;
  background-color: #1f0c7efa;
}